*{
margin:0;
padding:0;

}
body
{
background-color: rgb(238, 238, 238);
font-family: 'Roboto Mono', monospace;
}

.container{
    max-width: 1000px;
    background-color: aqua;
    margin: 0 auto;
    padding: 20px;
}
.profile-image{
width: 100px;
height: 120px;
border-radius: 3px solid white;
border-radius: 50%;
float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
.header-contact
{
    float: right;
    padding: 30px;
}
.header-contact a
{
text-decoration:none ;
color:teal;
font-weight: bold;
}
.header-contact a:hover
{
text-decoration: underline;
color: tomato;
}
.div-clear
{
clear:both;

}
hr{
 border: solid;   
 width:100%;
 margin: 20px auto;
 border-bottom: none;
}
/*---------Personal-section

------*/
#personal-section
{


}
.content{

margin-bottom: 30px;

}

.left-div{
 width:35%;
float: left;

}
.right-div{
 width: 65%;
 float: left;
}

.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width:100%;
    margin:20px auto;
}

.edu-tempalte-left{
float: left;
width:45%;
}

.edu-template-right
{
float:right;
width:45%;
}

.bottom-container{
background-color: black;
text-align: center;
padding: 10px;

}

.bottom-container a{
color:white;
text-decoration: none;
margin:20px;

}
.bottom-container p{
    color:white;
    text-decoration: none;
    margin:20px;
    
    }